body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background: url("image/Nitro_Wallpaper_05_3840x2400.jpg") no-repeat center center;
  background-size: cover;

  color: white;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;
  text-align: center;
  color:aliceblue;
}

.container a {
  color: #fff;              
  text-decoration: none;    
  font-size: 20px;
  display: block;           
  margin: 10px 0;           
  line-height: 1.8;         
}

.container a:hover {
  color: yellow;            
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color:antiquewhite;
}


ol {
  font-size: 0px;
  list-style-type: upper-alpha;
  color:azure;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* tỉ lệ 16:9 */
    height: 0;
    overflow: hidden;
    margin-top: 20px; /* khoảng cách với các link phía trên */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}